body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    
  }

  .clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
   position: relative;
    display: flex;
    align-items: center;
  justify-content: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  .hour-hand, .minute-hand, .second-hand {
    position: absolute;
    background-color: #000;
   transform-origin: bottom center;
    transition: transform 0.5s ease-in-out;
  }

  .hour-hand {
    width: 6px;
    height: 100px;
    top: calc(50% - 100px);
    left: calc(50% - 3px);
  }

  .minute-hand {
    width: 4px;
    height: 140px;
      top: calc(50% - 140px);
    left: calc(50% - 2px);
  }

  .second-hand {
    width: 2px;
    height: 150px;
    top: calc(50% - 150px);
    left: calc(50% - 1px);
    background-color: red;
  }

  .center-dot {
    width: 12px;
    height: 12px;
     background-color: #000;
    border-radius: 50%;
   position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
  }

  .numbers {
    position: absolute;
    width: 100%;
     height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .number {
    position: absolute;
    top: 1em;
    transform-origin: bottom center;
padding-bottom: 5.8em;
    transform: rotate(-30deg);
  }